---
interface Props {
  name: string;
  class?: string;
}

const { name, class: className = '' } = Astro.props;

const icons = import.meta.glob('/src/assets/icons/*.svg', { query: '?raw', import: 'default', eager: true });
const iconPath = `/src/assets/icons/${name}.svg`;
const svgContent = icons[iconPath] as string | undefined;
---

{svgContent ? (
  <span class:list={['inline-block', className]} set:html={svgContent} />
) : (
  <span class={className}>[{name}]</span>
)}
